.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage
coverage/*
coverage/clover.xml
coverage/lcov-report/index.html
coverage/lcov-report/src/index.html
coverage/lcov-report/src/utils.js.html
coverage/lcov-report/src/components/Board.vue.html
coverage/lcov-report/src/components/CardHeader.vue.html
coverage/lcov-report/src/components/index.html
coverage/lcov-report/src/components/TabList.vue.html
coverage/lcov-report/src/components/TaskCard.vue.html
coverage/lcov-report/src/tests/index.html
coverage/lcov-report/src/tests/mount.js.html
